/* INFO 247 Spring 2013
Ravelry Designer Visualization

Colours
 - Dark grey: #303030
 - Light Grey: #F3F3F3
 - Tan: #D3D3B1
 - Pink (Accents): #B71F4A
 - Green (Accents): #C2EBB1 */

@import url(http://fonts.googleapis.com/css?family=Cherry+Swash);


/****************** Basic html and body styling ********************/
html{

	background-image:url('knit-grey.png');
	background-repeat: repeat;
}

html,
body{
	width: 99%;
	margin: 0 auto;

	font-family: "Cherry Swash",Helvetica, Arial, sans-serif;
	color: #D3D3B1;

	/*background-color:#303030;
	background-color: rgba(48,48,48,.6);*/
}

/****************** Basic header and link styling ********************/
h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-family: "Cherry Swash",Helvetica, Arial, sans-serif;
	text-align: center;
	font-weight: normal;
}

a{
	color: #B71F4A;
	text-decoration: none;
}

/****************** float classes ********************/
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

/****************** header styling ********************/
header{
	width: 100%;
	margin: 0;
	padding: 0;

	border-bottom: 7px solid #B71F4A;

	color: #303030;
	background-color: #D3D3B1;
	background-color: rgba(211,211,177, .9);
	z-index: 100;
}

#filter h1,h2,h3{
	background-color: rgba(211,211,177,.9);
	padding-top: 10px;
}

/****************** Footer styling ********************/
footer {
	height: 30px;

	position: fixed;
	bottom:0;
	left:0;
	right: 0;

	color: #303030;
	background-color: #D3D3B1;
	background-color: rgba(211,211,177,.9);
	text-align: center;

	padding-top: 5px;
	padding-bottom: 0;
	border-top: 7px solid #B71F4A;
	z-index: 100;
}


/******************* button styling ***********************/
button {
	display: block;

	width: 140px;
	height: 30px;

	margin: 5px auto;

	border: none;
	background: transparent;

	background-color: #D3D3B1;
	color: #454545;
	border-radius: 2px;
	-moz-border-radius: 2px;

	font-family: "Cherry Swash";
	font-size: .95em;
	text-shadow: 0.1em 0.1em 0.2em #c0c0c0;
}


.button-selected{
	color: #D3D3B1;
	background-color: #B71F4A;
}

.designer{


}

.category{
	background-color: #C2EBB1;
	text-shadow: 0.1em 0.1em 0.2em #b0b0b0;
}


/****************** filter styling ********************/

#filters{
	width: 180px;
	position: fixed;
	right:20;
	top:10;
	padding: 15px 5px;

	color: #D3D3B1;
	background-color: #303030;
	background-color: rgba(48,48,48,.75);

	border-radius: 10px;
	-moz-border-radius: 10px;
}
#button-designers:hover{
	cursor: hand;
}


/****************** Modal styling ********************/
.hidden{
	display:none;
}

.overlay{
	background-color: #F3F3F3;
	background-color: rgba(243,243,243,.75);
	color: #303030;
	/*text-shadow: 0.2em 0.2em 0.3em #b0b0b0;*/

	width: 140px;
/* 	margin: 25px; */
	padding:0px 10px 0px 10px;
	font-size: 12;

	/*border: 2px solid #B71F4A;*/
/* 	border-radius: 3px; */
	position: absolute;
	bottom:0;
/* 	bottom: 0; */


	/* for testing */
/* 	position: fixed; */
/* 	top: 200; */
/* 	left: 100; */
}

/****************** Graph styling ********************/
#graph{
	width: 99%;
	margin: auto auto;
	/*width: 90%;
	/*margin: 25px;*/
	padding: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, sans-serif;
    font-size: 11px;
}

svg{
	background-color: #F3F3F3;
	color: #303030;
	border: 6px solid #B71F4A;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.tooltip{
	font-size: 4;
	color: black;
}
.keyText{
	font-family: sans-serif;
	font-size:10;
}

.YaxisLabel, .XaxisLabel{
	font-family: sans-serif;
	font-size: 15;
}

.popup{
	font-family: sans-serif;
    font-size: 11px;
}

/************* image grid and image styling ******************/

/*#imageGrid div, .gridPic{
	border: 10px solid #303030;
	margin-bottom: 20;
	margin-right: 10;
}*/

#imageGrid{
	width: 1200px;
	margin: auto auto;
   -webkit-column-count: 6;
   -webkit-column-gap:   0px;
   -moz-column-count:    6;
   -moz-column-gap:      0px;
   column-count:         6;
   column-gap:           0px;
}

.gridPic{
	width: 140px; 
    background-position: center center;
	border: 10px solid #303030;
	margin: 5px auto;
	padding: 0;

	/*margin-bottom: 20;
	margin-right: 10;*/
}
.imgContainer{
	position: relative;
}
